## Data Collection

Importing necessary dependencies

In [16]:
import numpy as np
import pandas as pd

In [17]:
fraud_df = pd.read_csv("corrected_names.csv")
fraud_df.head()

,Caller Number,Call Time,Call Duration(in s),Call Frequency Per Day,Call Frequency Per Week,Call Type,Conversation
0,+1-508-604-1419,15:28:51,292,5,18,Normal,"Hope. Since ago travelled, he has forgotten hi..."
1,+1-718-784-6136,14:21:05,1160,5,8,Normal,Horrible you eat mass eat until u forgot about...
2,+1-832-572-2250,12:22:11,293,4,8,Normal,Great! I have to run now so ttyl!
3,+1-628-833-1234,20:32:32,502,3,6,Normal,"Sorry, I'll call later"
4,+1-628-250-9398,09:17:45,141,3,36,Normal,"Jay wants to work out first, how's 4 sound?"

In [18]:
fraud_df.head()

,Caller Number,Call Time,Call Duration(in s),Call Frequency Per Day,Call Frequency Per Week,Call Type,Conversation
0,+1-508-604-1419,15:28:51,292,5,18,Normal,"Hope. Since ago travelled, he has forgotten hi..."
1,+1-718-784-6136,14:21:05,1160,5,8,Normal,Horrible you eat mass eat until u forgot about...
2,+1-832-572-2250,12:22:11,293,4,8,Normal,Great! I have to run now so ttyl!
3,+1-628-833-1234,20:32:32,502,3,6,Normal,"Sorry, I'll call later"
4,+1-628-250-9398,09:17:45,141,3,36,Normal,"Jay wants to work out first, how's 4 sound?"

## Data Preprocessing - 1

In [19]:
fraud_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17590 entries, 0 to 17589
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Caller Number            17590 non-null  object
 1   Call Time                17590 non-null  object
 2   Call Duration(in s)      17590 non-null  int64
 3   Call Frequency Per Day   17590 non-null  int64
 4   Call Frequency Per Week  17590 non-null  int64
 5   Call Type                17590 non-null  object
 6   Conversation             17590 non-null  object
dtypes: int64(3), object(4)
memory usage: 962.1+ KB

Replacing Null values with appropriate substitutes

In [20]:
fraud_df.isnull().values.any()   #Output implies that there exist no null values in the dataset

np.False_

In [21]:
columns_with_null = fraud_df.columns[fraud_df.isnull().any()].tolist()
print(columns_with_null)

[]

In [22]:
#replacing null values in conversation column if in case there exist any
fraud_df["Conversation"] = fraud_df["Conversation"].where((pd.notnull(fraud_df["Conversation"])), '')
fraud_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17590 entries, 0 to 17589
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Caller Number            17590 non-null  object
 1   Call Time                17590 non-null  object
 2   Call Duration(in s)      17590 non-null  int64
 3   Call Frequency Per Day   17590 non-null  int64
 4   Call Frequency Per Week  17590 non-null  int64
 5   Call Type                17590 non-null  object
 6   Conversation             17590 non-null  object
dtypes: int64(3), object(4)
memory usage: 962.1+ KB

In [23]:
fraud_df['Call Frequency Per Day'].fillna(fraud_df['Call Frequency Per Day'].median(),inplace=True)
fraud_df['Call Frequency Per Week'].fillna(fraud_df['Call Frequency Per Week'].median(),inplace=True)

C:\Users\achal\AppData\Local\Temp\ipykernel_12264\102107234.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  fraud_df['Call Frequency Per Day'].fillna(fraud_df['Call Frequency Per Day'].median(),inplace=True)
C:\Users\achal\AppData\Local\Temp\ipykernel_12264\102107234.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  fraud_df['Call Frequency Per Week'].fillna(fraud_df['Call Frequency Per Week'].median(),inplace=True)

In [24]:
fraud_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17590 entries, 0 to 17589
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Caller Number            17590 non-null  object
 1   Call Time                17590 non-null  object
 2   Call Duration(in s)      17590 non-null  int64
 3   Call Frequency Per Day   17590 non-null  int64
 4   Call Frequency Per Week  17590 non-null  int64
 5   Call Type                17590 non-null  object
 6   Conversation             17590 non-null  object
dtypes: int64(3), object(4)
memory usage: 962.1+ KB

In [25]:
#To make sure call frequency per day is less than call frequency per week

for index, row in fraud_df.iterrows():
    if row['Call Frequency Per Day'] >= row['Call Frequency Per Week']:
        fraud_df.at[index, 'Call Frequency Per Week'] = row['Call Frequency Per Day'] + 1

In [26]:
fraud_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17590 entries, 0 to 17589
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Caller Number            17590 non-null  object
 1   Call Time                17590 non-null  object
 2   Call Duration(in s)      17590 non-null  int64
 3   Call Frequency Per Day   17590 non-null  int64
 4   Call Frequency Per Week  17590 non-null  int64
 5   Call Type                17590 non-null  object
 6   Conversation             17590 non-null  object
dtypes: int64(3), object(4)
memory usage: 962.1+ KB

In [27]:
fraud_df.head()

,Caller Number,Call Time,Call Duration(in s),Call Frequency Per Day,Call Frequency Per Week,Call Type,Conversation
0,+1-508-604-1419,15:28:51,292,5,18,Normal,"Hope. Since ago travelled, he has forgotten hi..."
1,+1-718-784-6136,14:21:05,1160,5,8,Normal,Horrible you eat mass eat until u forgot about...
2,+1-832-572-2250,12:22:11,293,4,8,Normal,Great! I have to run now so ttyl!
3,+1-628-833-1234,20:32:32,502,3,6,Normal,"Sorry, I'll call later"
4,+1-628-250-9398,09:17:45,141,3,36,Normal,"Jay wants to work out first, how's 4 sound?"

In [28]:
fraud_df = fraud_df[['Caller Number','Call Time','Call Duration(in s)','Call Frequency Per Day','Call Frequency Per Week','Call Type','Conversation']]
fraud_df.head()

,Caller Number,Call Time,Call Duration(in s),Call Frequency Per Day,Call Frequency Per Week,Call Type,Conversation
0,+1-508-604-1419,15:28:51,292,5,18,Normal,"Hope. Since ago travelled, he has forgotten hi..."
1,+1-718-784-6136,14:21:05,1160,5,8,Normal,Horrible you eat mass eat until u forgot about...
2,+1-832-572-2250,12:22:11,293,4,8,Normal,Great! I have to run now so ttyl!
3,+1-628-833-1234,20:32:32,502,3,6,Normal,"Sorry, I'll call later"
4,+1-628-250-9398,09:17:45,141,3,36,Normal,"Jay wants to work out first, how's 4 sound?"

In [29]:
# fraud_df.to_csv('corrected_names.csv',index=False)

Correcting typo errors in the conversation column of the dataset

In [30]:
# from textblob import TextBlob
# from tqdm import tqdm

# # Function to correct spelling
# def correct_spelling_with_textblob(text):
#     blob = TextBlob(text)
#     return str(blob.correct())

# # Enable the tqdm progress bar
# tqdm.pandas()

# # Apply correction function to the DataFrame column with progress bar
# fraud_df['Conversation'] = fraud_df['Conversation'].progress_apply(correct_spelling_with_textblob)

# fraud_df.to_csv('corrected_names.csv', index=False)

# print("DataFrame saved to 'corrected_names.csv'")